body, html {
	font-family: 'Baskerville', 'Georgia', serif;
	font-size: 20px;
}

header {
    margin-top: 1rem;
    text-align: center;
	h1 {
		font-size: 3rem;
		line-height: 3rem;
        margin: 0;
        margin-left: 0.5rem;
	}
	p.subtitle {
        font-family: 'Optima', 'Helvetica', 'Arial', sans-serif;
		font-style: italic;
        margin-top: 0.25rem;
	}
    img.photo {
        display: block;
        width: 600px;
        margin: 0 auto;
    }
}

footer {
    border-top: 1px solid rgb(171, 94, 62);
	font-size: 0.75rem;
}

code {
	font-family: monospace;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Optima', 'Helvetica', 'Arial', sans-serif;
}

h1.page-title {
    font-size: 2rem;
    line-height: 2rem;
}

a {
    color: rgb(255, 90, 17);
}

a:hover {
    color: rgb(255, 169, 0);
}

a:visited {
    color: rgb(171, 94, 62);
}

section, nav, footer {
	width: 1024px;
	margin: 0 auto;
}

nav {
	ul {
		list-style: none;
		display: flex;
        margin: 0.2rem 0;
        padding: 0;
		li {
			display: block;
			list-style: none;
			margin: 0 0.4rem;
            font-size: 1.1rem;
            a {
                text-decoration: none;
            }
		}
	}
    border-bottom: 1px solid rgb(171, 94, 62);
}

p.blog-date {
    font-family: 'Optima', 'Helvetica', 'Arial', sans-serif;
    font-weight: 700;
}

img.artwork {
    display: block;
    padding: 1rem;
    margin: 1rem auto;
}

img.photo {
    display: block;
    padding: 1rem;
    border: 1px solid #ccc;
    margin: 1rem auto;
}

@media screen and (max-width: 1024px) {
    section, nav, footer {
        width: 100%;
    }

    header {
        img.photo {
            width: 100%;
        }
    }

    nav {
        ul {
            display: inline;
            li {
                display: block;
            }
        }
    }

    img.photo {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    img.photo {
        width: 800px;
    }
}
