$grey: rgb(171, 94, 62);

html {
    font-family: system-ui;
    font-size: unquote("clamp(1em, 0.909em + 0.45vmin, 1.25em)");
    max-width: 70ch;
    padding: unquote("calc(1vmin + .5rem)");
    margin-inline: auto;
}

body :not(:is(h1, h2, h3, h4, h5, h6)) {
    line-height: 1.75;
}

header {
    text-align: center;
    h1 {
        font-size: 3rem;
        font-variant: small-caps;
        margin-bottom: 0;
    }
    p.subtitle {
        margin-top: 0;
        font-style: italic;
    }
}

footer {
    border-top: 1px solid $grey;
    font-size: 0.75rem;
}

code {
    color: white;
    font-family: monospace;
    font-size: 0.75rem;
    white-space: pre-wrap;
}

h1.page-title {
    font-size: 2rem;
    line-height: 2;
}

a {
    color: rgb(255, 90, 17);
}

a:hover {
    color: rgb(255, 169, 0);
}

a:visited {
    color: rgb(171, 94, 62);
}

nav {
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 0.2rem 0;
        padding: 0;
        li {
            display: block;
            list-style: none;
            margin: 0 0.4rem;
            font-size: 1.1rem;
            a {
                text-decoration: none;
            }
        }
    }
    border-bottom: 1px solid $grey;
}

p.blog-date {
    font-weight: 700;
}

img.artwork {
    display: block;
    padding: 1rem;
    margin: 1rem auto;
    width: 50%;
    max-width: 600px;
}

img.photo {
    display: block;
    padding: 1rem;
    border: 1px solid #ccc;
    margin: 1rem auto;
    max-width: 90%;
}

img.thumbnail {
    display: inline-block;
    padding: 0.125rem;
    border: 1px solid #eee;
    margin: 0.125rem;
    height: 64px;
    width: 64px;
}

div.dress-image {
    display: block;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 750px;
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
    div.caption {
        font-size: 0.75rem;
        font-style: italic;
        text-align: center;
    }
}
