$grey: rgb(180, 180, 180);
$primary: rgb(155, 99, 0);
$secondary: rgb(100, 60, 30);
$tertiary: rgb(71, 44, 22);
$highlight: rgb(255, 200, 50);
$background: rgb(80, 80, 40);
$paper: rgb(255, 255, 245);
$paper-dark: rgb(245, 245, 230);
$accent-color: rgb(181, 33, 14);
$accent-color-dark: rgb(136, 1, 105);
$accent-color-light: rgb(141, 113, 113);

@font-face {
    font-family: "griffos";
    src: url("GriffosFont-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: $paper;
    font-family: "griffos", serif;
    font-size: 1.5vw;
    max-width: 70ch;
    padding: unquote("calc(1vmin + .5rem)");
    margin-inline: auto;
}

div.banner {
    place-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 13vh;
    z-index: -1;
    background: $paper-dark;
    mask: conic-gradient(
            from -45deg at bottom,
            #0000,
            #000 1deg 89deg,
            #0000 90deg
        )
        50%/80px 100%;
}

@media (max-width: 600px) {
    html {
        font-size: 6vw;
    }

    div.banner {
        height: 25vh;
    }
}

body :not(:is(h1, h2, h3, h4, h5, h6)) {
    line-height: 1.75;
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h1:not(:is(header h1))::first-letter {
    color: $accent-color;
    font-size: 2.6rem;
    line-height: 1;
    vertical-align: sub;
}

h2::first-letter {
    color: $accent-color;
}

h2::after {
    content: "";
    display: block;
    width: 12rem;
    height: 2px;
    margin: 0.3rem auto 0;
    background: $accent-color;
    border-radius: 1px;
    opacity: 0.4;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

header {
    text-align: center;
    h1 {
        background: linear-gradient(15deg, $background, rgb(255, 200, 0));
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.15);
        font-size: 3rem;
        font-variant: small-caps;
        line-height: 3rem;
        margin-bottom: 0;
    }
    p.subtitle {
        color: $secondary;
        margin-top: 0;
        font-size: 1.1rem;
        font-style: italic;
    }
}

footer {
    color: $background;
    border-top: 1px solid $grey;
    font-size: 0.8rem;
}

code {
    color: white;
    font-family: monospace;
    font-size: 0.6rem;
    white-space: pre-wrap;
}

h1.page-title {
    color: $tertiary;
    font-size: 2rem;
    line-height: 2rem;
}

a {
    color: $accent-color;
}

a:visited {
    color: $accent-color-light;
}

a:hover {
    color: $highlight;
}

nav {
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 0.2rem 0;
        padding: 0;
        li {
            display: block;
            list-style: none;
            margin: 0.1rem;
            font-size: 0.85rem;
            a {
                color: $primary;
                font-weight: 300;
                margin: 0.5rem;
                text-decoration: none;
                text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.15);
            }
            a:visited {
                color: $secondary;
            }
            a:hover {
                color: rgb(0, 0, 0);
            }
            ::before {
                content: "";
                display: inline-block;
                width: 0.3em;
                height: 0.6em;
                margin-right: 0.25em;
                background: $accent-color;
                clip-path: polygon(50% 0, 100% 100%, 0 100%);
            }
        }
    }
}

ul li:not(:is(nav li)) {
    list-style: none;
    position: relative;
    padding-left: 1.25em;
}

ul li:not(:is(nav li))::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.6em;
    width: 0.45em;
    height: 0.45em;
    background: $accent-color;
    border-radius: 50%;
}

.blog-date {
    display: inline-block; /* shrink-wrap the background */
    padding: 0.2em 0.6em;
    color: $paper; /* text color contrasting the accent */
    background: linear-gradient(
        35deg,
        $accent-color 0%,
        $accent-color 10%,
        $paper 80%,
        $paper 100%
    );
    font-weight: 600;
    font-size: 0.9em;
    width: 100%;
    /* Optional for smooth edges */
    box-decoration-break: clone;
}

img.artwork {
    display: block;
    padding: 1rem;
    margin: 1rem auto;
    width: 50%;
    max-width: 600px;
}

img.photo {
    display: block;
    padding: 1rem;
    border: 1px solid #ccc;
    margin: 1rem auto;
    max-width: 90%;
    object-fit: cover;
}

img.thumbnail {
    display: inline-block;
    padding: 0.125rem;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, #fceabb, #f8b500, #fceabb) 1;
    background-color: #fff;
    margin: 0.125rem;
    height: 64px;
    width: 64px;
}

div.dress-image {
    display: block;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 750px;
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
    div.caption {
        font-size: 0.75rem;
        font-style: italic;
        text-align: center;
    }
}

.spot-leaf {
    position: relative;
    margin-left: 0.5rem;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    content: "";
    position: absolute;
    background: $accent-color;
    clip-path: polygon(
        0% 27%,
        35% 40%,
        50% 0%,
        65% 40%,
        100% 27%,
        71% 58%,
        76% 75%,
        60% 65%,
        50% 90%,
        40% 65%,
        24% 75%,
        29% 58%
    );
}
