@font-face {
    font-family: 'alegreya';
    src: url('../alegreya-black-webfont.woff2') format('woff2'),
         url('../alegreya-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'alegreya';
    src: url('../alegreya-blackitalic-webfont.woff2') format('woff2'),
         url('../alegreya-blackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;

}

@font-face {
    font-family: 'alegreya';
    src: url('../alegreya-bold-webfont.woff2') format('woff2'),
         url('../alegreya-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'alegreya';
    src: url('../alegreya-bolditalic-webfont.woff2') format('woff2'),
         url('../alegreya-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'alegreya';
    src: url('../alegreya-italic-webfont.woff2') format('woff2'),
         url('../alegreya-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'alegreya';
    src: url('../alegreya-regular-webfont.woff2') format('woff2'),
         url('../alegreya-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}