<section class="section">
    <div class="columns">
        <div class="column">
    		<h2 class="title is-2">{{ .Title }}</h2>
    	</div>
    </div>

    <div class="columns">
    	<div class="column content">
        {{ .Content }}
    	</div>
		<div class="column is-one-third">
  			<h3 class="title is-3">Recent Posts</h3>
  			<ul>
  			{{- range first .Site.Params.SidebarRecentLimit .Site.RegularPages -}}
				<li><a href="{{.RelPermalink}}">{{.Title}}</a> <cite>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</cite></li>
  			{{- end -}}
  			</ul>
		</div>
    </div>
</section>
