    <head>
        {{ partial "meta.html" . }}
        <title>{{ .Title }} | {{ .Site.Title }}</title>
        <link href="{{ .Site.BaseURL }}" rel="canonical">
        <link href="{{ .Site.BaseURL }}css/main.css" rel="stylesheet" type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Francois+One|Crimson+Text' rel='stylesheet' type='text/css'>
		<link href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" type='text/css'>
    </head>
