<section>
    <nav role="navigation" aria-label="main-navigation">
        <ul class="menu">
            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
            <li><a href="{{ .Site.BaseURL }}post/">Blog</a></li>
            <li><a href="{{ .Site.BaseURL }}page/about">About</a></li>
            <li><a href="{{ .Site.BaseURL }}page/resume">Résumé</a></li>
            <li><a href="{{ .Site.BaseURL }}page/creations">Creations</a></li>
            <li><a href="{{ .Site.BaseURL }}page/links">Links</a></li>
            <li><a href="{{ .Site.BaseURL }}kb">Knowledge</a></li>
            <li><a href="{{ .Site.BaseURL }}recipes">Recipes</a></li>
        </ul>
    </nav>
</section>
