<nav class="navbar is-black" role="navigation" aria-label="main-navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ .Site.BaseURL }}">benovermyer.com</a>
    </div>
    <div class="navbar-menu is-active">
        <div class="navbar-start">
            <a class="navbar-item" href="https://blog.benovermyer.com/">Blog</a>
            <a class="navbar-item" href="{{ .Site.BaseURL }}page/about">About</a>
            <a class="navbar-item" href="{{ .Site.BaseURL }}page/resume">Résumé</a>
            <a class="navbar-item" href="{{ .Site.BaseURL }}page/creations">Creations</a>
            <a class="navbar-item" href="{{ .Site.BaseURL }}page/world-creation-links">World Creation Links</a>
        </div>
    </div>
</nav>
