<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
<body>
	<div class="container">
		{{ partial "header.html" . }}
		<div class="columns">
			<div class="column">
				<a href="{{ .Site.BaseURL }}page/about"><h2 class="title is-2">About</h2></a>
				<p class="link-description">Learn about who I am.</p>
			</div>
			<div class="column">
				<a href="https://github.com/BenOvermyer"><h2 class="title is-2">GitHub</h2></a>
				<p class="link-description">View code that I've developed.</p>
			</div>
			<div class="column">
				<a href="{{ .Site.BaseURL }}page/resume"><h2 class="title is-2">Résumé</h2></a>
				<p class="link-description">Read about my career so far.</p>
			</div>
			<div class="column">
				<a href="{{ .Site.BaseURL }}page/published-works"><h2 class="title is-2">Published Works</h2></a>
				<p class="link-description">See some of what I've written.</p>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<p>Read my blog at <a href="https://pathfinder.space/">Pathfinder</a>.</p>
			</div>
		</div>
		{{ partial "footer.html" . }}
		{{ partial "google_analytics.html" . }}
	</div>
</body>
</html>
