<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
<body>
	{{ partial "nav.html" . }}
	<section class="section">
		<div class="container">
			{{ partial "header.html" . }}
			<div class="columns">
				<div class="column content">
					<p>
						Hi, I'm Ben. I love making web experiences awesome for people and machines.
					</p>
					<p>
						By day, I work as a DevOps consultant. My time is spent helping organizations up their operations game.
					</p>
					<p>
						I also design, write, and illustrate tabletop role-playing games. Most of those works are under the banner of <a href="http://silvergryphongames.com">Silver Gryphon Games</a>.
					</p>
				</div>
			</div>
		</div>
	</section>
	{{ partial "footer.html" . }}
</body>
</html>
