{% extends "base.html" %}

{% block socialmediatitle %}Ben Overmyer, Full-Stack Developer{% endblock %}
{% block title %}Ben Overmyer, Full-Stack Developer{% endblock %}

{% block content %}

<header>
    <h1>Ben Overmyer</h1>
	<p class="subtitle">Full-Stack Developer, DevOps Specialist</p>

    <picture>
        <source srcset="/ben-2023.webp" type="image/webp">
        <source srcset="/ben-2023.jpg" type="image/jpeg">
        <img src="/ben-2023.jpg" alt="Photo of Ben" width="428" height="428" class="photo" />
    </picture>
</header>

<p>
	Hi, I'm Ben. I make web things.
</p>
<p>
	By day, I apply my skills as a developer to build web applications, monitor them, set up web infrastructure, and automate things.
    I'm particularly good at domains in what is popularly called "DevOps" or "platform engineering". I most often work with Python and JavaScript.
</p>
<p>
	In my free time I sometimes work on procedural content generation tools for
	tabletop role-playing games. You can see my latest works in this area at
	<a href="https://ironarachne.com">Iron Arachne</a>.
</p>
<p>
	You can find me on the Fediverse at <a rel="me" href="https://floss.social/@skysong">@skysong@floss.social</a>.
</p>

<h2>Most Recent Blog Posts</h2>

{% set blog_posts = get_section(path="blog/_index.md")
    | get(key="pages")
    | slice(end=5)
%}

<ul>
{% for post in blog_posts %}
    <li>{{ post.date | date(format="%B %e, %Y") }}: <a href="{{ post.permalink }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Selected Blog Posts</h2>

<ul>
    <li><a href="/blog/upgrading-the-star-and-planet-generators-on-iron-arachne/">Upgrading the star and planet generators on Iron Arachne</a></li>
    <li><a href="/blog/old-school-baroque/">Old School Baroque</a></li>
    <li><a href="/blog/word-generation-in-ironarachne/">Word generation in Iron Arachne</a></li>
</ul>

<h2>My stuff</h2>

<ul>
    <li><a href="kb/books">Books I've read</a></li>
    <li><a href="kb/favorite-tools">Favorite tools</a></li>
    <li><a href="kb/movies">Movies</a> - movies that I want to see, or particular lists of movies</li>
    <li><a href="kb/people">People of interest</a></li>
    <li><a href="kb/uses">Uses</a> - the tools and things I use most</li>
</ul>

<h2>Knowledge Base</h2>

The following are a few links to topics of my <a href="/kb">knowledge base</a>. These
are subjects I find interesting and have written notes about.

<ul>
    <li><a href="kb/boolean-algebra">Boolean algebra</a></li>
    <li><a href="kb/coding">Coding</a></li>
    <li><a href="kb/craft-skills">Craft skills</a></li>
    <li><a href="kb/food-and-drink">Food and drink</a></li>
    <li><a href="kb/game-design">Game design</a></li>
    <li><a href="kb/geography">Geography</a></li>
    <li><a href="kb/heraldry">Heraldry</a></li>
    <li><a href="kb/linguistics">Linguistics</a></li>
    <li><a href="kb/places">Places</a></li>
    <li><a href="kb/rhetoric">Rhetoric</a></li>
    <li><a href="kb/sys-admin">System administration</a></li>
</ul>

<input type="hidden" name="proof-of-lol" value="proven90c5bb" />

{% endblock content %}
