{% extends "base.html" %}

{% block socialmediatitle %}Ben Overmyer, Full-Stack Developer and Game Designer{% endblock %}
{% block title %}Ben Overmyer, Full-Stack Developer and Game Designer{% endblock %}

{% block content %}

<header>
    <h1>Ben Overmyer</h1>    
	<p class="subtitle">Full-Stack Developer and Game Designer</p>
    
    <img src="/ben-2022.jpg" alt="Photo of Ben" class="photo" />
</header>

<p>
	Hi, I'm Ben. I love making web experiences awesome for people and
	machines.
</p>
<p>
	By day, I apply my skills as a developer to build web applications, monitor them, set up web infrastructure, and automate things.
</p>
<p>
	In my free time I work on procedural content generation tools for
	tabletop role-playing games. You can see my latest works in this area at
	<a href="https://ironarachne.com">Iron Arachne</a>.
</p>
<p>
	Also, I am the co-owner of tabletop role-playing game company <a href="https://silvergryphongames.com">Silver Gryphon Games</a>.
</p>
<p>
	You can find me on the Fediverse at <a rel="me" href="https://fosstodon.org/@dungeonHack">@dungeonHack@fosstodon.org</a>.
</p>

<h2>Most Recent Blog Posts</h2>

{% set blog_posts = get_section(path="blog/_index.md")
    | get(key="pages")
    | slice(end=3) 
%}

<ul>
{% for post in blog_posts %}
    <li>{{ post.date }}: <a href="{{ post.permalink }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>My stuff</h2>

<ul>
    <li><a href="kb/books">Books I've read</a></li>
    <li><a href="kb/favorite-tools">Favorite tools</a></li>
    <li><a href="kb/movies">Movies</a> - movies that I want to see, or particular lists of movies</li>
    <li><a href="kb/people">People of interest</a></li>
    <li><a href="kb/poach-list">Personal poach list</a></li>
    <li><a href="kb/uses">Uses</a> - the tools and things I use most</li>
</ul>

<h2>Knowledge</h2>

<ul>
    <li><a href="kb/boolean-algebra">Boolean algebra</a></li>
    <li>Craft skills
        <ul>
            <li><a href="kb/craft-skills/costume-armoring">Costume armoring</a></li>
        </ul>
    </li>
    <li>Food and drink
        <ul>
            <li><a href="kb/food-and-drink/cooking">Cooking</a></li>
            <li><a href="kb/food-and-drink/nutrition">Nutrition</a></li>
            <li><a href="kb/food-and-drink/restaurants">Restaurants</a> - restaurants I want to try, or reviews</li>
            <li><a href="kb/food-and-drink/wine">Wine</a></li>
        </ul>
    </li>
    <li>Game design
        <ul>
            <li><a href="kb/game-design/game-design">Game design</a></li>
            <li><a href="kb/game-design/procedural-campaign-setting">Procedural campaign settings</a></li>
            <li><a href="kb/game-design/publishing">Publishing</a></li>
            <li><a href="kb/game-design/swg">Star Wars: Galaxies</a></li>
        </ul>
    </li>
    <li><a href="kb/geography">Geography</a></li>
    <li><a href="kb/heraldry">Heraldry</a></li>
    <li><a href="kb/linguistics">Linguistics</a></li>
    <li>Places
        <ul>
            <li><a href="kb/places/estonia">Estonia</a></li>
        </ul>
    </li>
    <li><a href="kb/rhetoric">Rhetoric</a></li>
    <li>System administration
        <ul>
            <li><a href="kb/sysadmin/chef">Chef</a></li>
            <li><a href="kb/sysadmin/docker">Docker</a></li>
            <li><a href="kb/sysadmin/linux">Linux</a></li>
            <li><a href="kb/sysadmin/remotegit">Remote git</a></li>
        </ul>
    </li>
</ul>

{% endblock content %}
