{% extends "base.html" %}

{% block socialmediatitle %}Ben Overmyer, Digital Infra Engineer and Game Designer{% endblock %}
{% block title %}Ben Overmyer, Digital Infra Engineer and Game Designer{% endblock %}

{% block content %}

<header>
    <h1>Ben Overmyer</h1>    
	<p class="subtitle">Digital Infra Engineer and Game Designer</p>
    
    <img src="/ben-2021.jpg" alt="Photo of Ben" class="photo" />
</header>

<p>
	Hi, I'm Ben. I love making web experiences awesome for people and
	machines.
</p>
<p>
	By day, I work as a senior platform engineer. My time is spent helping
	organizations improve their digital operations game. My specialties are
    automation and containerization.
</p>
<p>
	In my free time I work on procedural content generation tools for
	tabletop role-playing games. You can see my latest works in this area at
	<a href="https://ironarachne.com">Iron Arachne</a>.
</p>

<h2>Most Recent Blog Posts</h2>

{% set blog_posts = get_section(path="blog/_index.md")
    | get(key="pages")
    | slice(end=3) 
%}

<ul>
{% for post in blog_posts %}
    <li>{{ post.date }}: <a href="{{ post.permalink }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

{% endblock content %}
