$body-size: 24px;
$family-sans-serif: "Gill Sans", sans-serif;
$family-serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$page-width: 900px;

body, html {
    font-family: $family-serif;
    font-feature-settings: "kern" 1, "dlig" 1;
    font-size: $body-size;
}

h1, h2, h3, h4, h5, h6, nav {
    font-family: $family-sans-serif;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 1.1rem;
}

h3 {
    font-size: 1.0rem;
}

h4, h5, h6 {
    font-size: 1.0rem;
}

cite {
    font-size: 0.75rem;
}

.navbar-item {
    font-size: 1rem;
}

nav.pagination {
    display: flex;
    ul {
        display: flex;
        list-style: none;
        li {
            margin-right: 1rem;
        }
    }
}

.post-description {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5rem;
    padding-bottom: 0.25rem;
}

.header {
    border-bottom: 1px solid #000;
}

.header p {
    font-style: italic;
}

footer {
    border-top: 1px solid #000;
    width: $page-width;
    margin: 0 auto;
    p {
        font-size: 0.8rem;
    }
}

section {
    width: $page-width;
    margin: 0 auto;
}

ul.menu {
    list-style: none;
    display: flex;
    li {
        margin-left: 1rem;
    }
}
